/*----------------------------------
    WELCOME TEXT AREA
-----------------------------------*/

.top-area-bg {
    background: rgba(0, 0, 0, 0) url("http://caraveladoral.com/img/caravela-txt.png") no-repeat scroll center center / cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.top-area-bg::before {
    background: #000000 url("http://caraveladoral.com/img/caravela-txt.png") repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.welcome-text-area {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 100px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 3;
}

.welcome-text {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.welcome-text h2 {
    font-family: "Dancing Script", cursive;
    font-size: 82px;
    text-transform: capitalize;
}

.welcome-text h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.welcome-text h1 span.hero-text {
    font-weight: 700;
}